<html ng-app="scg">

<head>
    <title>Siam Chamnan Gag</title>

    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body ng-controller="mainController as $ctrl">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Promis</a>
            <p class="navbar-text navbar-right">{{ $ctrl.selectedUser }}</p>
        </div>
    </nav>

    <div class="container-fluid">

        <div class="center">

            <h1>Promis DMS Application</h1>

            <form name="form" ng-submit="$ctrl.createDocument($ctrl.documentID, $ctrl.selectedUser)">

                <label for="">Please select a user: </label>

                <input-choose-user users="$ctrl.users" model="$ctrl.selectedUser"></input-choose-user><br/>

                <input-document-id label="'Document ID: '" model="$ctrl.documentID" name="'input_document_id'"></input-document-id><br/>

                <button-submit text="'Create'" name="'button_submit'"></button-submit>

            </form>

        </div>

        <div ng-show="$ctrl.isSubmitted" class="container">

            <alert-result-success ng-if="$ctrl.documentService.status === 'success'" result="$ctrl.result" name="'alert_result_success'"></alert-result-success>

            <alert-result-failed ng-if="$ctrl.documentService.status === 'failed'" result="$ctrl.result" name="'alert_result_failed'"></alert-result-failed>

        </div>
    </div>

    <!--cdn script tag-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="index.js"></script>

    <!--components-->
    <script src="/components/input_document_id/input_document_id.component.js"></script>
    <script src="/components/input_choose_user/input_choose_user.component.js"></script>
    <script src="/components/button_submit/button_submit.component.js"></script>
    <script src="/components/alert_result/alert_result_failed/alert_result_failed.component.js"></script>
    <script src="/components/alert_result/alert_result_success/alert_result_success.component.js"></script>

    <!--services-->
    <script src="/services/document.service.js"></script>
</body>

</html>