<html ng-app="scg">

<head>
    <title>Siam Chamnan Gag</title>

    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body ng-controller="mainController as $ctrl">

    <div class="container-fluid">

        <div class="container">

            <h1>ProMISFrontend</h1>

            <form name="form" ng-submit="$ctrl.createDocument($ctrl.document_id)">

                <input-document-id label="'Document ID: '" model="$ctrl.document_id" name="'input_document_id'"></input-document-id><br/>

                <button-submit text="'Submit'" name="'button_submit'"></button-submit>

            </form>

        </div>

        <div ng-show="$ctrl.is_clicked" class="container">

            <alert-result-success ng-if="$ctrl.status === 'success'" result="$ctrl.result" name="'alert_result_success'"></alert-result-success>

            <alert-result-failed ng-if="$ctrl.status === 'failed'" result="$ctrl.result" name="'alert_result_failed'"></alert-result-failed>

        </div>
    </div>

    <!--cdn script tag-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="index.js"></script>

    <!--components-->
    <script src="/components/input_document_id/input_document_id.component.js"></script>
    <script src="/components/button_submit/button_submit.component.js"></script>
    <script src="/components/alert_result/alert_result_failed/alert_result_failed.component.js"></script>
    <script src="/components/alert_result/alert_result_success/alert_result_success.component.js"></script>
</body>

</html>